hosts/hosting/config/Wsdl/Customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.user.Customer" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.user.Customer" xmlns:intf="com.logicboxes.foundation.sfnb.user.Customer" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="Vector" nillable="true" type="apachesoap:Vector"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
  </schema>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.user.Customer" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDetailsByCustomerIdResponse">

      <wsdl:part name="getDetailsByCustomerIdReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsByCustomerIdRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="createTemporaryPasswordRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDetailsByCustomerEmailRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="modDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="customerUserName" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="generateLoginIDResponse">

      <wsdl:part name="generateLoginIDReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="changePasswordResponse">

   </wsdl:message>

   <wsdl:message name="authenticateLoginIDResponse">

      <wsdl:part name="authenticateLoginIDReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modResponse">

   </wsdl:message>

   <wsdl:message name="sendTemporaryPasswordRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modDetailsResponse">

   </wsdl:message>

   <wsdl:message name="generateLoginIDRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="ipAddress" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part name="signUpReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="authenticateCustomerResponse">

      <wsdl:part name="authenticateCustomerReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="sendTemporaryPasswordResponse">

      <wsdl:part name="sendTemporaryPasswordReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="changePasswordRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="newPasswd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="mobileNoCc" type="xsd:string"/>

      <wsdl:part name="mobileNo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="passwd" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="stateName" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="mobileNoCc" type="xsd:string"/>

      <wsdl:part name="mobileNo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCustomerIdResponse">

      <wsdl:part name="getCustomerIdReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addCustomerResponse">

      <wsdl:part name="addCustomerReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="createTemporaryPasswordResponse">

      <wsdl:part name="createTemporaryPasswordReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="authenticateCustomerIdResponse">

      <wsdl:part name="authenticateCustomerIdReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="authenticateLoginIDRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="loginID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addCustomerRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerUserName" type="xsd:string"/>

      <wsdl:part name="customerPassword" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="customerLangPref" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="authenticateCustomerRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="passwd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getCustomerIdRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerUsername" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="resellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="customerStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="creationDtStart" type="xsd:string"/>

      <wsdl:part name="creationDtEnd" type="xsd:string"/>

      <wsdl:part name="totalReceiptStart" type="xsd:string"/>

      <wsdl:part name="totalReceiptEnd" type="xsd:string"/>

      <wsdl:part name="noOfRecords" type="xsd:int"/>

      <wsdl:part name="pageNo" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDetailsByCustomerEmailResponse">

      <wsdl:part name="getDetailsByCustomerEmailReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="authenticateCustomerIdRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="userLoginId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="ipAddress" type="xsd:string"/>

      <wsdl:part name="headers" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Customer">

      <wsdl:operation name="sendTemporaryPassword" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID emailAddr">

         <wsdl:input message="impl:sendTemporaryPasswordRequest" name="sendTemporaryPasswordRequest"/>

         <wsdl:output message="impl:sendTemporaryPasswordResponse" name="sendTemporaryPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createTemporaryPassword" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId">

         <wsdl:input message="impl:createTemporaryPasswordRequest" name="createTemporaryPasswordRequest"/>

         <wsdl:output message="impl:createTemporaryPasswordResponse" name="createTemporaryPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomerId" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerUsername">

         <wsdl:input message="impl:getCustomerIdRequest" name="getCustomerIdRequest"/>

         <wsdl:output message="impl:getCustomerIdResponse" name="getCustomerIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByCustomerId" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId option">

         <wsdl:input message="impl:getDetailsByCustomerIdRequest" name="getDetailsByCustomerIdRequest"/>

         <wsdl:output message="impl:getDetailsByCustomerIdResponse" name="getDetailsByCustomerIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByCustomerEmail" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID username option">

         <wsdl:input message="impl:getDetailsByCustomerEmailRequest" name="getDetailsByCustomerEmailRequest"/>

         <wsdl:output message="impl:getDetailsByCustomerEmailResponse" name="getDetailsByCustomerEmailResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateCustomer" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID username passwd">

         <wsdl:input message="impl:authenticateCustomerRequest" name="authenticateCustomerRequest"/>

         <wsdl:output message="impl:authenticateCustomerResponse" name="authenticateCustomerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateCustomerId" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID userLoginId">

         <wsdl:input message="impl:authenticateCustomerIdRequest" name="authenticateCustomerIdRequest"/>

         <wsdl:output message="impl:authenticateCustomerIdResponse" name="authenticateCustomerIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID ipAddress headers">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateLoginID" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID loginID">

         <wsdl:input message="impl:authenticateLoginIDRequest" name="authenticateLoginIDRequest"/>

         <wsdl:output message="impl:authenticateLoginIDResponse" name="authenticateLoginIDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="generateLoginID" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID ipAddress">

         <wsdl:input message="impl:generateLoginIDRequest" name="generateLoginIDRequest"/>

         <wsdl:output message="impl:generateLoginIDResponse" name="generateLoginIDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCustomer" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerUserName customerPassword name company address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo customerLangPref">

         <wsdl:input message="impl:addCustomerRequest" name="addCustomerRequest"/>

         <wsdl:output message="impl:addCustomerResponse" name="addCustomerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="signUp" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID userName passwd name company address1 address2 address3 city stateName country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo langPref mobileNoCc mobileNo">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest"/>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId customerUserName name company langPref address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo">

         <wsdl:input message="impl:modDetailsRequest" name="modDetailsRequest"/>

         <wsdl:output message="impl:modDetailsResponse" name="modDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changePassword" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId newPasswd">

         <wsdl:input message="impl:changePasswordRequest" name="changePasswordRequest"/>

         <wsdl:output message="impl:changePasswordResponse" name="changePasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId resellerId username name company city country customerStatus creationDtStart creationDtEnd totalReceiptStart totalReceiptEnd noOfRecords pageNo orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mod" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId userName name company langPref address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo mobileNoCc mobileNo">

         <wsdl:input message="impl:modRequest" name="modRequest"/>

         <wsdl:output message="impl:modResponse" name="modResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerServiceSoapBinding" type="impl:Customer">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendTemporaryPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendTemporaryPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendTemporaryPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTemporaryPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTemporaryPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createTemporaryPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomerId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCustomerIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByCustomerId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsByCustomerIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsByCustomerIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByCustomerEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsByCustomerEmailRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsByCustomerEmailResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateCustomerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateCustomerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateCustomerId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateCustomerIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateCustomerIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateLoginID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateLoginIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateLoginIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateLoginID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateLoginIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="generateLoginIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCustomerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCustomerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="changePasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Customer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerService">

      <wsdl:port binding="impl:CustomerServiceSoapBinding" name="CustomerService">

         <wsdlsoap:address location="http://www.foundationapi.com/anacreon/servlet/APIv3"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
