hosts/hosting/config/Wsdl/DomContact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.DomContact" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.DomContact" xmlns:intf="com.logicboxes.foundation.sfnb.order.DomContact" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.order.DomContact" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="Vector" nillable="true" type="apachesoap:Vector"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="listByTypeRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="contactId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="currentStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="creationDTRangStart" type="xsd:string"/>

      <wsdl:part name="creationDTRangEnd" type="xsd:string"/>

      <wsdl:part name="contactName" type="xsd:string"/>

      <wsdl:part name="companyName" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="type" type="xsd:string"/>

      <wsdl:part name="requirements" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="addContactResponse">

      <wsdl:part name="addContactReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="listByTypeResponse">

      <wsdl:part name="listByTypeReturn" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="contactId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="currentStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="creationDTRangStart" type="xsd:string"/>

      <wsdl:part name="creationDTRangEnd" type="xsd:string"/>

      <wsdl:part name="contactName" type="xsd:string"/>

      <wsdl:part name="companyName" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part name="getDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addDefaultContactsResponse">

      <wsdl:part name="addDefaultContactsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listNamesByContactTypesResponse">

      <wsdl:part name="listNamesByContactTypesReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listNamesRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDefaultContactsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="types" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="addDefaultContactRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDefaultContactsResponse">

      <wsdl:part name="getDefaultContactsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addDefaultContactResponse">

      <wsdl:part name="addDefaultContactReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part name="deleteReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="contactId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="modRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="contactId" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addContactRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="type" type="xsd:string"/>

      <wsdl:part name="extraInfo" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modResponse">

      <wsdl:part name="modReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listNamesByContactTypesRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="type" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="addDefaultContactsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="types" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="listNamesResponse">

      <wsdl:part name="listNamesReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="contactId" type="xsd:int"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:portType name="DomContact">

      <wsdl:operation name="listByType" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId contactId currentStatus creationDTRangStart creationDTRangEnd contactName companyName emailAddr numOfRecordPerPage pageNum orderBy type requirements">

         <wsdl:input message="impl:listByTypeRequest" name="listByTypeRequest"/>

         <wsdl:output message="impl:listByTypeResponse" name="listByTypeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listNames" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId">

         <wsdl:input message="impl:listNamesRequest" name="listNamesRequest"/>

         <wsdl:output message="impl:listNamesResponse" name="listNamesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="listNamesByContactTypes" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId type">

         <wsdl:input message="impl:listNamesByContactTypesRequest" name="listNamesByContactTypesRequest"/>

         <wsdl:output message="impl:listNamesByContactTypesResponse" name="listNamesByContactTypesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID contactId option">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest"/>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addDefaultContact" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId">

         <wsdl:input message="impl:addDefaultContactRequest" name="addDefaultContactRequest"/>

         <wsdl:output message="impl:addDefaultContactResponse" name="addDefaultContactResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addDefaultContacts" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId types">

         <wsdl:input message="impl:addDefaultContactsRequest" name="addDefaultContactsRequest"/>

         <wsdl:output message="impl:addDefaultContactsResponse" name="addDefaultContactsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addContact" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo customerId type extraInfo">

         <wsdl:input message="impl:addContactRequest" name="addContactRequest"/>

         <wsdl:output message="impl:addContactResponse" name="addContactResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDefaultContacts" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId types">

         <wsdl:input message="impl:getDefaultContactsRequest" name="getDefaultContactsRequest"/>

         <wsdl:output message="impl:getDefaultContactsResponse" name="getDefaultContactsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="add" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo customerId">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId contactId currentStatus creationDTRangStart creationDTRangEnd contactName companyName emailAddr numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="delete" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID contactId">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest"/>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mod" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID contactId name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo">

         <wsdl:input message="impl:modRequest" name="modRequest"/>

         <wsdl:output message="impl:modResponse" name="modResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DomContactServiceSoapBinding" type="impl:DomContact">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listByType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listByTypeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listByTypeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listNamesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listNamesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listNamesByContactTypes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listNamesByContactTypesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listNamesByContactTypesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDefaultContact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDefaultContactRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addDefaultContactResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDefaultContacts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDefaultContactsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addDefaultContactsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addContact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addContactRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addContactResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDefaultContacts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDefaultContactsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDefaultContactsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DomContactService">

      <wsdl:port binding="impl:DomContactServiceSoapBinding" name="DomContactService">

         <wsdlsoap:address location="http://www.foundationapi.com/anacreon/servlet/APIv3"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
