hosts/hosting/config/Wsdl/DomOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns:intf="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.order.DomOrder" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="Vector" nillable="true" type="apachesoap:Vector"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrderIdByDomainResponse">

      <wsdl:part name="getOrderIdByDomainReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addTransferDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="addParamList" type="apachesoap:Vector"/>

      <wsdl:part name="nameServersList" type="apachesoap:Vector"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

      <wsdl:part name="enablePrivacyProtection" type="xsd:boolean"/>

      <wsdl:part name="validate" type="xsd:boolean"/>

      <wsdl:part name="extraInfo" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerNameResponse">

      <wsdl:part name="modifyChildNameServerNameReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modifyDomainSecretResponse">

      <wsdl:part name="modifyDomainSecretReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="deleteChildNameServerIpResponse">

      <wsdl:part name="deleteChildNameServerIpReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="transferDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteChildNameServerIpRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="cns" type="xsd:string"/>

      <wsdl:part name="ipAddress" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="addChildNameServerResponse">

      <wsdl:part name="addChildNameServerReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="registerDomainResponse">

      <wsdl:part name="registerDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="checkNameServerRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="nameServer" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="productKeys" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="resellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="showChildOrders" type="xsd:boolean"/>

      <wsdl:part name="classKey" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="currentStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="description" type="xsd:string"/>

      <wsdl:part name="ns" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="contactName" type="xsd:string"/>

      <wsdl:part name="contactCompanyName" type="xsd:string"/>

      <wsdl:part name="creationDTRangStart" type="xsd:string"/>

      <wsdl:part name="creationDTRangEnd" type="xsd:string"/>

      <wsdl:part name="endTimeRangStart" type="xsd:string"/>

      <wsdl:part name="endTimeRangEnd" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="delRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getDetailsByDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerNameRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="oldCns" type="xsd:string"/>

      <wsdl:part name="newCns" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validateDomainTransferParamsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addTransferDomainResponse">

      <wsdl:part name="addTransferDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="renewDomainResponse">

      <wsdl:part name="renewDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getOrderIdByDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="productkey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="checkNameServerResponse">

      <wsdl:part name="checkNameServerReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="namesuggestionResponse">

      <wsdl:part name="namesuggestionReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkModifyByCustomerIdRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="customerID" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="resellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="domainNames" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addChildNameServerRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="cns" type="xsd:string"/>

      <wsdl:part name="ipAddress" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="modifyNameServerResponse">

      <wsdl:part name="modifyNameServerReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkAddRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domains" type="apachesoap:Vector"/>

      <wsdl:part name="noOfYears" type="xsd:int"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkModifyByDomainNameResponse">

      <wsdl:part name="bulkModifyByDomainNameReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addWithoutValidationResponse">

      <wsdl:part name="addWithoutValidationReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="validateDomainTransferParamsResponse">

      <wsdl:part name="validateDomainTransferParamsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part name="getDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsByDomainResponse">

      <wsdl:part name="getDetailsByDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkModifyByCustomerIdResponse">

      <wsdl:part name="bulkModifyByCustomerIdReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addTransferDomainWithoutvalidationResponse">

      <wsdl:part name="addTransferDomainWithoutvalidationReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="renewDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="bulkAddResponse">

      <wsdl:part name="bulkAddReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="namesuggestionRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainname" type="xsd:string"/>

      <wsdl:part name="hyphenAllowed" type="xsd:string"/>

      <wsdl:part name="numberAllowed" type="xsd:string"/>

      <wsdl:part name="domainNameLen" type="xsd:int"/>

      <wsdl:part name="noofResults" type="xsd:int"/>

      <wsdl:part name="arrTlds" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="modifyDomainSecretRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="newSecret" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="transferDomainResponse">

      <wsdl:part name="transferDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="changePrivacyProtectionStatusRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="lockerId" type="xsd:string"/>

      <wsdl:part name="orderID" type="xsd:int"/>

      <wsdl:part name="newIsPrivacyProtected" type="xsd:boolean"/>

      <wsdl:part name="reason" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modifyNameServerRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="nsHash" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addTransferDomainWithoutvalidationRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerIpRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="cns" type="xsd:string"/>

      <wsdl:part name="oldIp" type="xsd:string"/>

      <wsdl:part name="newIp" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="delResponse">

      <wsdl:part name="delReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="registerDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="addParamList" type="apachesoap:Vector"/>

      <wsdl:part name="nameServersList" type="apachesoap:Vector"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

      <wsdl:part name="enablePrivacyProtection" type="xsd:boolean"/>

      <wsdl:part name="validate" type="xsd:boolean"/>

      <wsdl:part name="extraInfo" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkModifyByDomainNameRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainNames" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="checkAvailabilityMultipleRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainNames" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="tlds" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="suggestAlternative" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="modifyContactResponse">

      <wsdl:part name="modifyContactReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addWithoutValidationRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validateDomainRegistrationParamsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="ns" type="apachesoap:Vector"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isTransferRequestValidRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isTransferRequestValidResponse">

      <wsdl:part name="isTransferRequestValidReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="validateDomainRegistrationParamsResponse">

      <wsdl:part name="validateDomainRegistrationParamsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="checkAvailabilityMultipleResponse">

      <wsdl:part name="checkAvailabilityMultipleReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modifyContactRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="changePrivacyProtectionStatusResponse">

      <wsdl:part name="changePrivacyProtectionStatusReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkAddTransferDomainRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

      <wsdl:part name="adminContactId" type="xsd:int"/>

      <wsdl:part name="techContactId" type="xsd:int"/>

      <wsdl:part name="billingContactId" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modifyChildNameServerIpResponse">

      <wsdl:part name="modifyChildNameServerIpReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="bulkAddTransferDomainResponse">

      <wsdl:part name="bulkAddTransferDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:portType name="DomOrder">

      <wsdl:operation name="checkAvailabilityMultiple" parameterOrder="userName password role langpref parentid domainNames tlds suggestAlternative">

         <wsdl:input message="impl:checkAvailabilityMultipleRequest" name="checkAvailabilityMultipleRequest"/>

         <wsdl:output message="impl:checkAvailabilityMultipleResponse" name="checkAvailabilityMultipleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="transferDomain" parameterOrder="userName password role langpref parentid domainHash registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:transferDomainRequest" name="transferDomainRequest"/>

         <wsdl:output message="impl:transferDomainResponse" name="transferDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addTransferDomain" parameterOrder="userName password role langpref parentid addParamList nameServersList customerId invoiceOption enablePrivacyProtection validate extraInfo">

         <wsdl:input message="impl:addTransferDomainRequest" name="addTransferDomainRequest"/>

         <wsdl:output message="impl:addTransferDomainResponse" name="addTransferDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="registerDomain" parameterOrder="userName password role langpref parentid addParamList nameServersList customerId invoiceOption enablePrivacyProtection validate extraInfo">

         <wsdl:input message="impl:registerDomainRequest" name="registerDomainRequest"/>

         <wsdl:output message="impl:registerDomainResponse" name="registerDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="renewDomain" parameterOrder="userName password role langpref parentid domainHash invoiceOption">

         <wsdl:input message="impl:renewDomainRequest" name="renewDomainRequest"/>

         <wsdl:output message="impl:renewDomainResponse" name="renewDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkAdd" parameterOrder="userName password role langpref parentid domains noOfYears ns registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:bulkAddRequest" name="bulkAddRequest"/>

         <wsdl:output message="impl:bulkAddResponse" name="bulkAddResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkAddTransferDomain" parameterOrder="userName password role langpref parentid domainHash registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:bulkAddTransferDomainRequest" name="bulkAddTransferDomainRequest"/>

         <wsdl:output message="impl:bulkAddTransferDomainResponse" name="bulkAddTransferDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkModifyByDomainName" parameterOrder="userName password role langpref parentid domainNames ns registrantContactId adminContactId techContactId billingContactId">

         <wsdl:input message="impl:bulkModifyByDomainNameRequest" name="bulkModifyByDomainNameRequest"/>

         <wsdl:output message="impl:bulkModifyByDomainNameResponse" name="bulkModifyByDomainNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="bulkModifyByCustomerId" parameterOrder="userName password role langpref parentid customerID resellerId domainNames ns registrantContactId adminContactId techContactId billingContactId">

         <wsdl:input message="impl:bulkModifyByCustomerIdRequest" name="bulkModifyByCustomerIdRequest"/>

         <wsdl:output message="impl:bulkModifyByCustomerIdResponse" name="bulkModifyByCustomerIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addChildNameServer" parameterOrder="userName password role langpref parentid orderId cns ipAddress">

         <wsdl:input message="impl:addChildNameServerRequest" name="addChildNameServerRequest"/>

         <wsdl:output message="impl:addChildNameServerResponse" name="addChildNameServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteChildNameServerIp" parameterOrder="userName password role langpref parentid orderId cns ipAddress">

         <wsdl:input message="impl:deleteChildNameServerIpRequest" name="deleteChildNameServerIpRequest"/>

         <wsdl:output message="impl:deleteChildNameServerIpResponse" name="deleteChildNameServerIpResponse"/>

      </wsdl:operation>

      <wsdl:operation name="del" parameterOrder="userName password role langpref parentid orderId">

         <wsdl:input message="impl:delRequest" name="delRequest"/>

         <wsdl:output message="impl:delResponse" name="delResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerIp" parameterOrder="userName password role langpref parentid orderId cns oldIp newIp">

         <wsdl:input message="impl:modifyChildNameServerIpRequest" name="modifyChildNameServerIpRequest"/>

         <wsdl:output message="impl:modifyChildNameServerIpResponse" name="modifyChildNameServerIpResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerName" parameterOrder="userName password role langpref parentid orderId oldCns newCns">

         <wsdl:input message="impl:modifyChildNameServerNameRequest" name="modifyChildNameServerNameRequest"/>

         <wsdl:output message="impl:modifyChildNameServerNameResponse" name="modifyChildNameServerNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyContact" parameterOrder="userName password role langpref parentid orderId registrantContactId adminContactId techContactId billingContactId">

         <wsdl:input message="impl:modifyContactRequest" name="modifyContactRequest"/>

         <wsdl:output message="impl:modifyContactResponse" name="modifyContactResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyDomainSecret" parameterOrder="userName password role langpref parentid orderId newSecret">

         <wsdl:input message="impl:modifyDomainSecretRequest" name="modifyDomainSecretRequest"/>

         <wsdl:output message="impl:modifyDomainSecretResponse" name="modifyDomainSecretResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modifyNameServer" parameterOrder="userName password role langpref parentid orderId nsHash">

         <wsdl:input message="impl:modifyNameServerRequest" name="modifyNameServerRequest"/>

         <wsdl:output message="impl:modifyNameServerResponse" name="modifyNameServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="namesuggestion" parameterOrder="userName password role langpref parentid domainname hyphenAllowed numberAllowed domainNameLen noofResults arrTlds">

         <wsdl:input message="impl:namesuggestionRequest" name="namesuggestionRequest"/>

         <wsdl:output message="impl:namesuggestionResponse" name="namesuggestionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isTransferRequestValid" parameterOrder="userName password role langpref parentid domainName">

         <wsdl:input message="impl:isTransferRequestValidRequest" name="isTransferRequestValidRequest"/>

         <wsdl:output message="impl:isTransferRequestValidResponse" name="isTransferRequestValidResponse"/>

      </wsdl:operation>

      <wsdl:operation name="checkNameServer" parameterOrder="userName password role langpref parentid nameServer productKeys">

         <wsdl:input message="impl:checkNameServerRequest" name="checkNameServerRequest"/>

         <wsdl:output message="impl:checkNameServerResponse" name="checkNameServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="validateDomainRegistrationParams" parameterOrder="userName password role langpref parentid domainHash ns registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:validateDomainRegistrationParamsRequest" name="validateDomainRegistrationParamsRequest"/>

         <wsdl:output message="impl:validateDomainRegistrationParamsResponse" name="validateDomainRegistrationParamsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="validateDomainTransferParams" parameterOrder="userName password role langpref parentid domainHash registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:validateDomainTransferParamsRequest" name="validateDomainTransferParamsRequest"/>

         <wsdl:output message="impl:validateDomainTransferParamsResponse" name="validateDomainTransferParamsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addTransferDomainWithoutvalidation" parameterOrder="userName password role langpref parentid domainHash registrantContactId adminContactId techContactId billingContactId customerId">

         <wsdl:input message="impl:addTransferDomainWithoutvalidationRequest" name="addTransferDomainWithoutvalidationRequest"/>

         <wsdl:output message="impl:addTransferDomainWithoutvalidationResponse" name="addTransferDomainWithoutvalidationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addWithoutValidation" parameterOrder="userName password role langpref parentid domainHash ns registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:addWithoutValidationRequest" name="addWithoutValidationRequest"/>

         <wsdl:output message="impl:addWithoutValidationResponse" name="addWithoutValidationResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetails" parameterOrder="userName password role langpref parentid orderId option">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest"/>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByDomain" parameterOrder="userName password role langpref parentid domainName option">

         <wsdl:input message="impl:getDetailsByDomainRequest" name="getDetailsByDomainRequest"/>

         <wsdl:output message="impl:getDetailsByDomainResponse" name="getDetailsByDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getOrderIdByDomain" parameterOrder="userName password role langpref parentid domainName productkey">

         <wsdl:input message="impl:getOrderIdByDomainRequest" name="getOrderIdByDomainRequest"/>

         <wsdl:output message="impl:getOrderIdByDomainResponse" name="getOrderIdByDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changePrivacyProtectionStatus" parameterOrder="userName password role langpref parentid lockerId orderID newIsPrivacyProtected reason">

         <wsdl:input message="impl:changePrivacyProtectionStatusRequest" name="changePrivacyProtectionStatusRequest"/>

         <wsdl:output message="impl:changePrivacyProtectionStatusResponse" name="changePrivacyProtectionStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="add" parameterOrder="userName password role langpref parentid domainHash ns registrantContactId adminContactId techContactId billingContactId customerId invoiceOption">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="userName password role langpref parentid orderId resellerId customerId showChildOrders classKey currentStatus description ns contactName contactCompanyName creationDTRangStart creationDTRangEnd endTimeRangStart endTimeRangEnd numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DomOrderServiceSoapBinding" type="impl:DomOrder">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkAvailabilityMultiple">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkAvailabilityMultipleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkAvailabilityMultipleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transferDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="transferDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTransferDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTransferDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addTransferDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registerDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="renewDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renewDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="renewDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkAdd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkAddRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkAddResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkAddTransferDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkAddTransferDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkAddTransferDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkModifyByDomainName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkModifyByDomainNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkModifyByDomainNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bulkModifyByCustomerId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bulkModifyByCustomerIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="bulkModifyByCustomerIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addChildNameServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addChildNameServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addChildNameServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteChildNameServerIp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteChildNameServerIpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteChildNameServerIpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="del">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="delResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerIp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyChildNameServerIpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyChildNameServerIpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyChildNameServerName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyChildNameServerNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyChildNameServerNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyContact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyContactRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyContactResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyDomainSecret">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyDomainSecretRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyDomainSecretResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyNameServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyNameServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyNameServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="namesuggestion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="namesuggestionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="namesuggestionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isTransferRequestValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isTransferRequestValidRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isTransferRequestValidResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkNameServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkNameServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkNameServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validateDomainRegistrationParams">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateDomainRegistrationParamsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateDomainRegistrationParamsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validateDomainTransferParams">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateDomainTransferParamsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateDomainTransferParamsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTransferDomainWithoutvalidation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTransferDomainWithoutvalidationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addTransferDomainWithoutvalidationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addWithoutValidation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addWithoutValidationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addWithoutValidationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsByDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsByDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrderIdByDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrderIdByDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getOrderIdByDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePrivacyProtectionStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePrivacyProtectionStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="changePrivacyProtectionStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.DomOrder" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DomOrderService">

      <wsdl:port binding="impl:DomOrderServiceSoapBinding" name="DomOrderService">

         <wsdlsoap:address location="http://www.foundationapi.com/anacreon/servlet/APIv3"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
