hosts/hosting/config/Wsdl/Reseller.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.user.Reseller" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.user.Reseller" xmlns:intf="com.logicboxes.foundation.sfnb.user.Reseller" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="Vector" nillable="true" type="apachesoap:Vector"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
  </schema>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.user.Reseller" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="signUpResponse">

      <wsdl:part name="signUpReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="createTemporaryPasswordResponse">

      <wsdl:part name="createTemporaryPasswordReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="authenticateResellerResponse">

      <wsdl:part name="authenticateResellerReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="sendTemporaryPasswordRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="sub_username" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="passwd" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="mobileNoCc" type="xsd:string"/>

      <wsdl:part name="mobileNo" type="xsd:string"/>

      <wsdl:part name="salesContactId" type="xsd:int"/>

      <wsdl:part name="futureProductSignup" type="xsd:boolean"/>

      <wsdl:part name="accountingCurrencySymbol" type="xsd:string"/>

      <wsdl:part name="sellingCurrencySymbol" type="xsd:string"/>

      <wsdl:part name="requestheaders" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modDetailsResponse">

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="createTemporaryPasswordRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getResellerPromoDetailsResponse">

      <wsdl:part name="getResellerPromoDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getResellerSupportPriorityAPIRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="emailAdd" type="xsd:string"/>

      <wsdl:part name="passwd" type="xsd:string"/>

      <wsdl:part name="resellerid" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getResellerSupportPriorityAPIResponse">

      <wsdl:part name="getResellerSupportPriorityAPIReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getResellerActiveProductCategoryFromURLResponse">

      <wsdl:part name="getResellerActiveProductCategoryFromURLReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="mobileNoCc" type="xsd:string"/>

      <wsdl:part name="mobileNo" type="xsd:string"/>

      <wsdl:part name="brandName" type="xsd:string"/>

      <wsdl:part name="websiteUrl" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="getResellerDetailsFromURLResponse">

      <wsdl:part name="getResellerDetailsFromURLReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="brandName" type="xsd:string"/>

      <wsdl:part name="websiteUrl" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part name="getDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="sendTemporaryPasswordResponse">

      <wsdl:part name="sendTemporaryPasswordReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="authenticateResellerIdRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="userLoginId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="authenticateResellerIdResponse">

      <wsdl:part name="authenticateResellerIdReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addResellerResponse">

      <wsdl:part name="addResellerReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="authenticateResellerRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="sub_username" type="xsd:string"/>

      <wsdl:part name="passwd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSalesContactListResponse">

      <wsdl:part name="getSalesContactListReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="ipAddress" type="xsd:string"/>

      <wsdl:part name="headers" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="authenticateLoginIDRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="loginID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getResellerActiveProductCategoryFromURLRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="brandedUrl" type="xsd:string"/>

      <wsdl:part name="includeAddDeniedProducts" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getResellerActiveProductsFromURLRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="brandedUrl" type="xsd:string"/>

      <wsdl:part name="includeAddDeniedProducts" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="modResponse">

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="subResellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="sub_username" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="resellerStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="creationDtStart" type="xsd:string"/>

      <wsdl:part name="creationDtEnd" type="xsd:string"/>

      <wsdl:part name="totalReceiptStart" type="xsd:string"/>

      <wsdl:part name="totalReceiptEnd" type="xsd:string"/>

      <wsdl:part name="noOfRecords" type="xsd:int"/>

      <wsdl:part name="pageNo" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getResellerDetailsFromURLRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="brandedUrl" type="xsd:string"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:message name="authenticateLoginIDResponse">

      <wsdl:part name="authenticateLoginIDReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="addResellerRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="sub_username" type="xsd:string"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="langPref" type="xsd:string"/>

      <wsdl:part name="passwd" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="altTelNoCc" type="xsd:string"/>

      <wsdl:part name="altTelNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="salesContactId" type="xsd:int"/>

      <wsdl:part name="productIdArr" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="futureProductSignup" type="xsd:boolean"/>

      <wsdl:part name="accountingCurrencySymbol" type="xsd:string"/>

      <wsdl:part name="sellingCurrencySymbol" type="xsd:string"/>

      <wsdl:part name="referrerCode" type="xsd:string"/>

      <wsdl:part name="requestheaders" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getSalesContactListRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="resellerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getResellerActiveProductsFromURLResponse">

      <wsdl:part name="getResellerActiveProductsFromURLReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getResellerPromoDetailsRequest">

      <wsdl:part name="userName" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="role" type="xsd:string"/>

      <wsdl:part name="langpref" type="xsd:string"/>

      <wsdl:part name="parentid" type="xsd:int"/>

      <wsdl:part name="resellerid" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="Reseller">

      <wsdl:operation name="createTemporaryPassword" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId">

         <wsdl:input message="impl:createTemporaryPasswordRequest" name="createTemporaryPasswordRequest"/>

         <wsdl:output message="impl:createTemporaryPasswordResponse" name="createTemporaryPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateReseller" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID sub_username passwd">

         <wsdl:input message="impl:authenticateResellerRequest" name="authenticateResellerRequest"/>

         <wsdl:output message="impl:authenticateResellerResponse" name="authenticateResellerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="modDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID userName name company langPref address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo brandName websiteUrl">

         <wsdl:input message="impl:modDetailsRequest" name="modDetailsRequest"/>

         <wsdl:output message="impl:modDetailsResponse" name="modDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResellerDetailsFromURL" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID brandedUrl option">

         <wsdl:input message="impl:getResellerDetailsFromURLRequest" name="getResellerDetailsFromURLRequest"/>

         <wsdl:output message="impl:getResellerDetailsFromURLResponse" name="getResellerDetailsFromURLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSalesContactList" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId">

         <wsdl:input message="impl:getSalesContactListRequest" name="getSalesContactListRequest"/>

         <wsdl:output message="impl:getSalesContactListResponse" name="getSalesContactListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResellerPromoDetails" parameterOrder="userName password role langpref parentid resellerid">

         <wsdl:input message="impl:getResellerPromoDetailsRequest" name="getResellerPromoDetailsRequest"/>

         <wsdl:output message="impl:getResellerPromoDetailsResponse" name="getResellerPromoDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateResellerId" parameterOrder="userName password role langpref parentid userLoginId">

         <wsdl:input message="impl:authenticateResellerIdRequest" name="authenticateResellerIdRequest"/>

         <wsdl:output message="impl:authenticateResellerIdResponse" name="authenticateResellerIdResponse"/>

      </wsdl:operation>

      <wsdl:operation name="login" parameterOrder="userName password role langpref parentid ipAddress headers">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResellerSupportPriorityAPI" parameterOrder="userName password role langpref parentid emailAdd passwd resellerid">

         <wsdl:input message="impl:getResellerSupportPriorityAPIRequest" name="getResellerSupportPriorityAPIRequest"/>

         <wsdl:output message="impl:getResellerSupportPriorityAPIResponse" name="getResellerSupportPriorityAPIResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateLoginID" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID loginID">

         <wsdl:input message="impl:authenticateLoginIDRequest" name="authenticateLoginIDRequest"/>

         <wsdl:output message="impl:authenticateLoginIDResponse" name="authenticateLoginIDResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResellerActiveProductsFromURL" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID brandedUrl includeAddDeniedProducts">

         <wsdl:input message="impl:getResellerActiveProductsFromURLRequest" name="getResellerActiveProductsFromURLRequest"/>

         <wsdl:output message="impl:getResellerActiveProductsFromURLResponse" name="getResellerActiveProductsFromURLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResellerActiveProductCategoryFromURL" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID brandedUrl includeAddDeniedProducts">

         <wsdl:input message="impl:getResellerActiveProductCategoryFromURLRequest" name="getResellerActiveProductCategoryFromURLRequest"/>

         <wsdl:output message="impl:getResellerActiveProductCategoryFromURLResponse" name="getResellerActiveProductCategoryFromURLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID resellerId option">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest"/>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addReseller" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID sub_username name company langPref passwd address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo salesContactId productIdArr futureProductSignup accountingCurrencySymbol sellingCurrencySymbol referrerCode requestheaders">

         <wsdl:input message="impl:addResellerRequest" name="addResellerRequest"/>

         <wsdl:output message="impl:addResellerResponse" name="addResellerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="signUp" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID sub_username name company langPref passwd address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo mobileNoCc mobileNo salesContactId futureProductSignup accountingCurrencySymbol sellingCurrencySymbol requestheaders">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest"/>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendTemporaryPassword" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID emailAddr">

         <wsdl:input message="impl:sendTemporaryPasswordRequest" name="sendTemporaryPasswordRequest"/>

         <wsdl:output message="impl:sendTemporaryPasswordResponse" name="sendTemporaryPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID subResellerId sub_username name company city country resellerStatus creationDtStart creationDtEnd totalReceiptStart totalReceiptEnd noOfRecords pageNo orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mod" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID userName name company langPref address1 address2 address3 city state country zip telNoCc telNo altTelNoCc altTelNo faxNoCc faxNo mobileNoCc mobileNo brandName websiteUrl">

         <wsdl:input message="impl:modRequest" name="modRequest"/>

         <wsdl:output message="impl:modResponse" name="modResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ResellerServiceSoapBinding" type="impl:Reseller">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createTemporaryPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTemporaryPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createTemporaryPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateReseller">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateResellerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateResellerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResellerDetailsFromURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResellerDetailsFromURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResellerDetailsFromURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSalesContactList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSalesContactListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSalesContactListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResellerPromoDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResellerPromoDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResellerPromoDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateResellerId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateResellerIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateResellerIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResellerSupportPriorityAPI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResellerSupportPriorityAPIRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResellerSupportPriorityAPIResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateLoginID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateLoginIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateLoginIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResellerActiveProductsFromURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResellerActiveProductsFromURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResellerActiveProductsFromURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResellerActiveProductCategoryFromURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResellerActiveProductCategoryFromURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getResellerActiveProductCategoryFromURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addReseller">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addResellerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResellerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendTemporaryPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendTemporaryPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendTemporaryPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.user.Reseller" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ResellerService">

      <wsdl:port binding="impl:ResellerServiceSoapBinding" name="ResellerService">

         <wsdlsoap:address location="http://www.foundationapi.com/anacreon/servlet/APIv3"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
